.bodyText {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(32px);
    font-weight: 900;
  
    @media (max-width: $mantine-breakpoint-md) {
      font-size: rem(25px);
    }
}

.item {
  div {
    border: 1px solid;
    border-radius: 10px;
    border-color: light-dark(#01b887,  #00f3b2);
    padding: 15px 20px 15px 20px;
    box-shadow: 0 0 5px light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
  div:hover {
    color: light-dark(#01b887,  #00f3b2);  
    box-shadow: 0 0 10px light-dark(var(--mantine-color-black), var(--mantine-color-white));
  }
}